* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f7fb;
}

/* Header Sectio Code */

.header {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 45px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    position: relative;
}

.nav a.active {
    color: #3f51ff;
}

.nav a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #3f51ff;
    border-radius: 2px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3f51ff;
}

.phone a {
    text-decoration: none;
    color: #3f51ff;
    font-weight: 500;
}

.register-btn {
    background: #3f51ff;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 14px;
    font-size: 14px;
    cursor: pointer;
}

.register-btn:hover {
    background: #2f40ff;
}

/* Course Sectio Code */

.course-section {
    padding: 60px;
}

.course-card {
    background: #fff;
    border-radius: 24px;
    display: flex;
    gap: 40px;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

.course-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-image img {
    width: 100%;
    max-width: 350px;
}

.course-content {
    flex: 2;
}

.course-content h1 {
    font-size: 48px;
    color: #1e2ad8;
    margin-bottom: 20px;
}

.description {
    color: #333;
    max-width: 520px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.badge {
    display: inline-block;
    padding: 8px 20px;
    background: linear-gradient(90deg, #6a5cff, #d42cff);
    color: #fff;
    border-radius: 30px;
    margin-bottom: 30px;
}

.info-row {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.info span {
    display: block;
    color: #888;
    font-size: 14px;
}

.info strong {
    font-size: 28px;
    color: #1e2ad8;
}

.ai-text {
    color: #1e2ad8;
    margin: 20px 0 30px;
}

.bottom-row {
    display: flex;
    align-items: center;
    gap: 40px;
}

.price span {
    display: block;
    color: #888;
}

.price strong {
    font-size: 32px;
    color: #1e2ad8;
}

.enroll-btn {
    padding: 14px 32px;
    background: #4a5cff;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

.enroll-btn:hover {
    background: #3848ff;
}

/* Free Consultation Secton Code */

.consultation-section {
    background: #4656e7;
    padding: 100px 60px;
}

.consultation-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.consultation-image img {
    width: 100%;
    max-width: 420px;
}


.consultation-form {
    background: #6a78f0;
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.consultation-form h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.consultation-form p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}


.consultation-form input {
    width: 100%;
    padding: 16px 20px;
    border-radius: 14px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
}


.consultation-form button {
    width: 100%;
    padding: 16px;
    background: #4a5cff;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    cursor: pointer;
}

.consultation-form button:hover {
    background: #3948ff;
}

/* Technologies Consultation Secton Code */

.technologies {
    width: 100%;
    padding: 80px 20px;
    text-align: center;
    background: #ffffff;
}

.technologies h2 {
    font-size: 36px;
    font-weight: 500;
    color: #1a2bbf;
    margin-bottom: 50px;
}

.tech-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.tech-list.second {
    margin-top: 10px;
}

.tech-item {
    padding: 14px 32px;
    border: 2px solid #3f51ff;
    border-radius: 50px;
    font-size: 20px;
    color: #3f51ff;
    cursor: default;
    transition: all 0.3s ease;
}

/* hover effekt  */

.tech-item:hover {
    background: #3f51ff;
    color: #ffffff;
}

/* Technologies Consultation Secton Code */

.achievements {
    padding: 100px 20px;
    background: #ffffff;
    text-align: center;
}

.achievements h2 {
    font-size: 40px;
    color: #0b1aa8;
    margin-bottom: 80px;
    font-weight: 500;
}

.achievement-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.achievement-card {
    position: relative;
    background: #ffffff;
    padding: 50px 25px 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.achievement-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #0b1aa8;
}

.number {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: #0b1aa8;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content h3 {
    font-size: 28px;
    color: #3f51ff;
    margin-bottom: 15px;
}

.card-content p {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
}

/* Market-Demand Secton Code */


.market-demand {
    width: 100%;
    background-color: #4456e5;
    padding: 100px 20px;
}

.market-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}


.market-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 70px;
}


.market-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.market-card {
    background: #ffffff;
    color: #4456e5;
    width: 460px;
    padding: 40px 30px;
    border-radius: 20px;
}

.market-card h3 {
    font-size: 36px;
    margin-bottom: 15px;
}

.market-card p {
    font-size: 18px;
}


.market-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}

.logo-item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
}

.logo-item img {
    height: 45px;
}


@media (max-width: 768px) {
    .market-title {
        font-size: 32px;
    }

    .market-card {
        width: 100%;
    }

    .logo-item {
        font-size: 18px;
    }
}

/* Monthly-Stats Secton Code  */


.monthly-stats {
    padding: 120px 20px;
    background: #ffffff;
}

.stats-title {
    text-align: center;
    font-size: 42px;
    color: #1d2fd8;
    margin-bottom: 80px;
}

/* cards wrapper */

.stats-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

/* main card */

.stats-card {
    background: #f6f6f6;
    border-radius: 25px;
    padding: 50px 40px;
    width: 600px;
}

.stats-card-title {
    font-size: 28px;
    color: #3f51ff;
    margin-bottom: 50px;
}

/* bars */

.salary-bars {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

/* common bar */

.salary-bar {
    width: 170px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

/* levels */

.salary-bar .level {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #2d0080;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
}

/* content */

.bar-content {
    padding: 30px 20px;
}

.bar-content strong {
    font-size: 20px;
}

.bar-content p {
    margin-top: 8px;
    font-size: 16px;
}

/* heights & colors */

.salary-bar.senior {
    height: 320px;
    background: #2436d8;
}

.salary-bar.middle {
    height: 240px;
    background: #4456e5;
}

.salary-bar.junior {
    height: 200px;
    background: #0b138f;
}

/* responsive */

@media (max-width: 768px) {
    .stats-card {
        width: 100%;
    }

    .salary-bars {
        justify-content: center;
    }
}


/* footer Section Code */

.footer {
    background: #4658e0;
    padding: 80px 0;
    color: #ffffff;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

/* brand */

.footer-brand {
    max-width: 320px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 30px;
    color: #ffffff;
}

.footer-brand p {
    font-size: 18px;
    line-height: 1.6;
}

/* columns */

.footer-column h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: opacity 0.3s;
}

.footer-column ul li a:hover {
    opacity: 0.7;
}

/* phones */

.phone {
    font-size: 18px;
    margin-bottom: 12px;
    color: #ffffff;
}

/* social */

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.footer-social a {
    width: 48px;
    height: 48px;
    border: 2px solid #ffffff;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.footer-social a:hover {
    /* background: #ffffff; */
    /* color: #4658e0; */
    transform: translateY(-3px);
}

/* responsive */

@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        gap: 50px;
    }
}

/*  */

